extends base

block content 
    form(method="POST")
        input(name="name", placeholder="name",type="text", required=true)
        input(name="username", placeholder="username",type="text", required=true)
        input(name="email", placeholder="email",type="email", required=true)
        input(name="password", placeholder="password",type="password", required=true)
        input(name="location", placeholder="location",type="text", required=true)
        input(type="submit", value="Join")