extends base.pug


block content 
    div#videoContainer(data-id=video._id)
        video(src=video.fileUrl)
        div#videoControls.videoControls
            div.timelineContainer
                input(type="range",step="1", value=0 min="0")#timeline
            div.videoControlContainer
                div.videoControls__play
                    span#play.playBtn
                        i.fas.fa-play
                div.videoControls__volume
                    span#mute
                        i.fas.fa-volume-up 
                    input(type="range",step="0.05", value=0.5 min="0", max="1")#volume
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00: 00
                div 
                    span#fullscreen
                        i.fas.fa-expand
        div.video__data-box
            div.video__data-title
                p=video.title
            div.video__data-metadata
                small.video__data-views 조회수 #{video.meta.views} 회
                span 　
                small.video__data-createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
                span 　
            div.video__data-description-box
                small.video__data-description=video.description
                
            div.video__data-userAndBtn            
                div.video__data-user
                    img.video__data-userAvatar(src=loggedInUser.avatarUrl)
                    a.video__data-username(href=`/users/${video.owner._id}`) #{video.owner.name}
                if String(video.owner._id) === String(loggedInUser._id)
                    div.video__data-Btns
                        div.video__data-Btns-edit
                            a(href=`${video.id}/edit`) 수정
                        div.video__data-Btns-delete
                            a(href=`${video.id}/delete`) 삭제

    if loggedIn
        div.video__add-comments
            form.video__comments-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a comment")#textarea
                button Add comment
    div#commentsBox.video__comments
        ul
            each comment in video.comments.reverse()
                li.video__comment
                    i.fas.fa-comment
                    span#comment #{comment.text}.
                    if String(comment.owner._id) === String(loggedInUser._id)
                        span#editBtn.editBtn(style = "cursor:pointer", data-id=comment._id) 수정
                        span.deleteBtn(style = "cursor:pointer", data-id=comment._id) ❌
                    div#editBox.edit__comment(style="display:none")
                        hr
                        div.edit__comment-component1
                            strong 댓글 수정
                            span.editCancelBtn(style = "cursor:pointer") ✖
                        form#edit__comment-form(data-id=comment._id)
                            textarea#editTextarea(cols="30", rows="3")
                            button(data-id=comment._id) Edit comment
                        hr
block scripts 
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")

    